# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
*.log

# Reports
reports/
reports/
*.html
*.xml
screenshots/

# Logs
logs/

# Playwright
test-results/
playwright-report/
.playwright/
*.webm
*.mp4

# Allure (dentro de carpetas de reportes)
reports/allure-results/
reports/allure-report/
reports/allure-results/
reports/allure-report/
.allure/

# Environment variables
.env
.env.backup
.env.local
.env.*.local

# UV
.uv/
uv.lock

# Misc
*.tmp
*.bak

# Misc
.claude/
CLAUDE.md
